<!DOCTYPE html>
<html lang="en">

<head>
    <h1>Document Approval System</h1>
</head>

<body>
    <div> 

    <form action="/" method="POST">
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="text" id="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>

    </div>
</body>

</html>