<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Document Approval System</h1>
</head>

<body>
    <form id ="approve" action="/" method="POST">
        <div>
            <button type="submit" id="btn" value="true">Approve</button>
        </div>
        <p>Please Click to Approve</p>
    </form>
</body>

</html>